<!DOCTYPE html>
html
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexTrip</title>
    <script
      src="https://kit.fontawesome.com/da39185c1c.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav>
      <div class="title"><i class="fas fa-road"></i>NexTrip</div>
    </nav>
    <header id="header">
      <h1>NexTrip<i class="fas fa-road"></i></h1>
      <h3>
        Plan your next trip.<br />
        See local restaurant reviews, events, and weather
      </h3>
    </header>

    <main id="main-container">
      <section id="entry-container">
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <label for="location"
            >Enter City and State or Zipcode and Arrival Date here</label
          >
          <div id="inputArea">
            <input
              id="location"
              type="text"
              name="input"
              value=""
              placeholder="Chattanooga, TN"
            />
            <input
              id="date"
              type="dtae"
              name="date"
              value=""
              placeholder="12/25/2020"
            />
          </div>

          <input
            class="button"
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>
      <section id="results-container">
        <div id="results"></div>
      </section>
    </main>

    <footer id="footer">
      <p>
        Created by David Mayes
      </p>
    </footer>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
