@import './_theme.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 300;
  color: $blue;
  margin: 0 auto;
  line-height: 1.65;
}

h1 {
  font-size: $xl * 3.125;
  font-family: 'Roboto';
}

p {
  font-size: $sm;
  font-family: 'Lato';
  color: $blue;
}

h3 {
  font-size: $lg;
}

@media (max-width: 1024px) {
  html {
    overflow-x: hidden;
  }
  h1 {
    font-size: $xl * 1.5;
  }
  p {
    font-size: $xs;
  }
}
