@import './_theme.scss';

html {
  font-size: 62.5%;
}

body {
  display: block;
  flex-direction: column;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  color: $blue;
  margin: 0 auto;
  line-height: 1.65;
  position: relative;
  background-size: cover;
  background-position: center;
}

main {
  padding: $xl * 1.25;
  background-color: $lt-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// section {
//   margin: $xl auto;
// }

h1 {
  font-size: 15rem;
}

p {
  font-size: $sm;
}

h3 {
  font-size: $lg;
}

@media (max-width: 1024px) {
}
