@import '_theme.scss';

header {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  background-color: transparent;
  font-family: 'Permanent Marker';
  color: $midnight-blue;
  margin-top: 8rem;
  .title {
    text-shadow: 4px 4px 4px #fff;
    font-size: 8rem;
    padding-top: -5rem;
  }
  span {
    font-size: 1.6rem;
  }
}
