@import '_theme.scss';

header {
  display: flex;
  flex-direction: column;
  padding: $xl;
  background-color: $powder-blue;
  color: $blue;
  height: 500px;
  text-align: center;
  h1 {
    font-weight: 900;
    letter-spacing: -0.9rem;
  }
  i {
    color: $orange;
    margin-top: $lg;
    margin-left: 1.1rem;
  }
}

nav {
  div {
    margin: 0;
  }
  i {
    margin-right: $xs;
  }
  overflow: hidden;
  background-color: $blue;
  color: $white;
  top: 0;
  width: 100%;
  height: $xl * 1.25;
  .title {
    font-size: $lg;
    font-weight: 900;
    padding: 0 $xl;
    letter-spacing: -0.15rem;
    font-family: 'Roboto';
  }
}

@media (max-width: 1024px) {
  header {
    height: auto;
    padding: $md 1rem;
    h1 {
      display: none;
    }
  }
  nav {
    height: $xl * 3.25;
    padding: $lg 0;
    i {
      color: $orange;
    }
    .title {
      font-size: $lg * 1.6;
      text-align: center;
    }
  }
}
