@import './_theme.scss';

main {
  #entry-container,
  #results-container {
    background-color: $blue-smoke;
    padding: $lg;
    margin: 0;
  }
  label {
    font-size: $sm;
  }
  input {
    padding: 0.5rem 2rem;
    width: 100%;
    line-height: $md;
    margin: 1rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $dk-blue;
    font-size: $md;
    outline: none;
  }
}
