@import './_theme.scss';

main {
  padding: $xl * 1.25;
  background-color: $lt-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #entry-container {
    margin: $xl 0;
  }
  #entry-container,
  #results-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      font-size: $md;
    }
  }
  #inputArea {
    display: flex;
    flex-direction: row;
  }
  #location,
  #date {
    width: 50%;
  }
  label {
    font-size: $sm;
  }
  input {
    padding: 0.5rem 2rem;
    width: 100%;
    color: $blue;
    line-height: $md;
    margin: 1rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $blue;
    font-size: $md;
    outline: none;
  }
  ::placeholder {
    color: $powder-blue;
  }
  .button {
    background-color: $orange;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: $md;
    width: 50%;
    font-size: $sm;
    font-family: 'Montserrat';
    font-weight: 700;
  }
  #error {
    color: red;
    font-size: $sm;
  }
}

@media (max-width: 1024px) {
  main {
    padding: $md 1rem;
  }
  label {
    text-align: center;
  }
  #inputArea {
    display: block;
    // flex-direction: column;
  }
}
